div{
    margin-bottom: 10px;
}
.selects{
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}
.flex{
    display: flex;
    div{
        margin-right: 20px;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
